<mat-toolbar color="primary">
  <span>
    <a [routerLink]="['/']">Post App</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userAuth">
      <a mat-button [routerLink]="['/create']" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf="!userAuth">
      <a mat-button [routerLink]="['/login']" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userAuth">
      <a mat-button [routerLink]="['/singup']" routerLinkActive="mat-accent">Singup</a>
    </li>
    <li *ngIf="userAuth">
      <button mat-button type="button" (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>
