.section-list-post{
  padding: 2% 11%;
}

.align-center{
  text-align: center;
}




 .loading_skeleton {
  height: 47px;
  margin-top: 1px;
  border-radius: 2px;
  background-image: linear-gradient(90deg, #F4F4F4 0px, rgba(229, 229, 229, 0.8) 40px, #F4F4F4 80px);
  background-size: 600px;
  -webkit-animation: shine-lines 2s infinite ease-out;
  animation: shine-lines 2s infinite ease-out;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

.loading_skeleton ~ .loading_skeleton {
  background-color: #ddd;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 140px;
  }
}

.post-image img{
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

mat-paginator {
  margin-top: 1rem;
}

