.example-full-width {
  width: 100%;
}

.section-create-post{
  padding: 2% 11%;
}

input[type="file"]{
  visibility: hidden;
}

.image-preview{
  height: 5rem;
  margin: 1rem 0;
  width: 90%;
}

.image-preview img{
  height: 100%;
}

mat-spinner{
  margin: auto;
}
