<section class="section-create-post">
  <mat-card>
    <form (submit) = "onSavePost(postForm)" #postForm="ngForm">
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Title"
          type="text"
          name="postTitle"
          [ngModel] = "post?.postTitle"
          required
          minlength="3"
          #title="ngModel">
      </mat-form-field>
      <mat-error *ngIf="title.invalid && (title.dirty || title.touched)">Please enter a post title</mat-error>
      <div>
        <button mat-stroked-button type="button" (click)="fileInput.click()">Pick Image</button>
        <input type="file" #fileInput>
      </div>
      <mat-form-field class="example-full-width">
        <textarea
          matInput
          placeholder="New Post"
          name="postContent"
          [ngModel]= "post?.postContent"
          required
          #content="ngModel">
        </textarea>
      </mat-form-field>
      <mat-error *ngIf="content.invalid && (content.dirty || content.touched)">Please enter a post</mat-error>


      <button mat-raised-button color="primary" type="submit" color="primary">Save Post</button>

    </form>

  </mat-card>



</section>
